*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
/* Menus */
nav ul {
  text-decoration: none;
}
nav ul li {
  display: inline;  
}

/* Links */
a:link,
a:visited {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover,
a:active {
  color: black !important;
  text-decoration: underline;
}

img {
  max-width: 30%;
  height: auto;
}