*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
/* Menus */
nav ul {
  text-decoration: none;
}
nav ul li {
  display: inline;  
}

/* Links */
nav a:link,
nav a:visited {
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
nav a:hover,
nav a:active {
  color: black !important;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

input.invalid {
  border: 2px dashed red;
}

.input-alert {
  color: red;
}

.btn {
  margin: 3px;
}